body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map{
  position: relative;
}

#query-box{
  position: absolute;
  z-index: 100;
  width: 300px;
  height: 200px;
  color: black;
  left: 40px;
  top:80px;
  background-color: white;
  opacity: 0.9;
  border-radius: 10%;
  padding: 15px;
}

#result-box{
  position: absolute;
  z-index: 300;
  width: 350px;
  height: calc(100vh - 50px);
  color: black;
  right: 0px;
  top:50px;
  background-color: white;
  opacity: 0.9;
  padding: 15px;
  visibility: hidden;
}

#progress-box{
  padding-top: 40px;
  margin-left:10px;
  margin-right:10px;
}

.progress{
  height:50px;
  padding:0px;
}

#triangle-marker-box{
  margin-left:-10px;
  margin-right:45px;
}

#triangle-marker{
  margin-left:38%;
  font-size: 30px;
}

#result-address{
  margin-top:25px;
  margin-bottom: 25px;
} 

#score-data{
  display:none;
}